# ETL & Data Preprocessing pipeline

In this notebook, i'll mainly cover using pandas to ETL

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

We read our diagnoses and procedures files into our pandas dataframe

In [2]:
icd_diagnoses = pd.read_csv('DIAGNOSES_ICD.csv')
icd_procedures = pd.read_csv('PROCEDURES_ICD.csv')

Take a look at the data

In [3]:
icd_diagnoses.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0     40301
1    1298         109   172335      2.0       486
2    1299         109   172335      3.0     58281
3    1300         109   172335      4.0      5855
4    1301         109   172335      5.0      4254

In [4]:
icd_procedures.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
0     944       62641   154460        3       3404
1     945        2592   130856        1       9671
2     946        2592   130856        2       3893
3     947       55357   119355        1       9672
4     948       55357   119355        2        331

We'll extract only the top 50 most frequent codes for further analysis. This is to reduce dimensionality, class imbalances and of course, to cut down our model training times.

In [5]:
procedures_top_50 = icd_procedures['ICD9_CODE'].value_counts()[:50].index.tolist()
diagnoses_top_50 = icd_diagnoses['ICD9_CODE'].value_counts()[:50].index.tolist()

I have extracted this reformat utility function from James 2018. It puts periods in the right place as the MIMIC-III datasets exclude them. This step is important.

In [6]:
# Reference: https://github.com/jamesmullenbach/caml-mimic/blob/master
def reformat(code, is_diag):
    """
        Put a period in the right place because the MIMIC-3 data files exclude them.
        Generally, procedure codes have dots after the first two digits,
        while diagnosis codes have dots after the first three digits.
    """
    code = ''.join(code.split('.'))
    if is_diag:
        if code.startswith('E'):
            if len(code) > 4:
                code = code[:4] + '.' + code[4:]
        else:
            if len(code) > 3:
                code = code[:3] + '.' + code[3:]
    else:
        code = code[:2] + '.' + code[2:]
    return code

We reformat the code before proceeding the combine the diagnoses and procedures dataframes

In [7]:
icd_diagnoses['tmp_code'] = icd_diagnoses['ICD9_CODE'].apply(lambda x: str(reformat(str(x), True)))
icd_procedures['tmp_code'] = icd_procedures['ICD9_CODE'].apply(lambda x: str(reformat(str(x), False)))

We combine the diagnoses and procedures into a single dataframe

In [8]:
combined_codes = pd.concat([icd_diagnoses, icd_procedures], axis=0)

We extract only the top 50 most frequent codes

In [9]:
combined_codes_top_50_codes = combined_codes['tmp_code'].value_counts()[:50].index.tolist()

Take a look at the top 50 most frequent codes

In [10]:
combined_codes_top_50_codes

['401.9',
 '38.93',
 '428.0',
 '427.31',
 '414.01',
 '96.04',
 '96.6',
 '584.9',
 '96.71',
 '250.00',
 '272.4',
 '518.81',
 '99.04',
 '39.61',
 '599.0',
 '530.81',
 '96.72',
 '272.0',
 '99.55',
 'V05.3',
 'V29.0',
 '285.9',
 '88.56',
 '244.9',
 '486',
 '38.91',
 '285.1',
 '276.2',
 '496',
 '36.15',
 '99.15',
 '995.92',
 'V58.61',
 '038.9',
 '507.0',
 'V30.00',
 '88.72',
 '585.9',
 '311',
 '403.90',
 '305.1',
 '37.22',
 '412',
 '33.24',
 '39.95',
 '287.5',
 'V45.81',
 '410.71',
 '276.1',
 '424.0']

We peak the top of our combined dataframe using .head fn

In [12]:
combined_codes.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE tmp_code
0    1297         109   172335      1.0     40301   403.01
1    1298         109   172335      2.0       486      486
2    1299         109   172335      3.0     58281   582.81
3    1300         109   172335      4.0      5855    585.5
4    1301         109   172335      5.0      4254    425.4

Since we can have multiple medical codes for a single admission, we combine the codes together delimited by semi-colons.

In [13]:
combined_codes['full_code'] = combined_codes.groupby(['HADM_ID'])['tmp_code'].transform(lambda x: ';'.join(x))
combined_codes.drop_duplicates(subset='full_code', inplace=True)
combined_codes.head()

,ROW_ID,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,tmp_code,full_code
0,1297,109,172335,1.0,40301,403.01,403.01;486;582.81;585.5;425.4;276.2;710.0;276....
14,1311,109,173633,1.0,40301,403.01,403.01;585.6;583.81;710.0;558.9;287.5;285.21;4...
28,1488,112,174105,1.0,53100,531.00,531.00;410.71;285.9;414.01;725;44.43;99.04;45.13
33,1493,113,109976,1.0,1915,191.5,191.5;331.4;530.81;15.9;23.9
36,1496,114,178393,1.0,41401,414.01,414.01;411.1;482.83;285.9;272.0;305.1;36.12;36...

We'll need to pre-process the target labels/codes into a multi-hot encoding format for BERT. You do not need to do this for LR/CNN/BiGRU/CAML since it is incorporated into the training code.

In [14]:
for code in combined_codes_top_50_codes:
    combined_codes[code] = combined_codes['full_code'].apply(
        lambda x: True if code in x else False)

The columns are nicely generated

In [15]:
combined_codes.head()

,ROW_ID,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,tmp_code,full_code,401.9,38.93,428.0,427.31,414.01,96.04,96.6,584.9,96.71,250.00,272.4,518.81,99.04,39.61,599.0,530.81,96.72,272.0,99.55,V05.3,V29.0,285.9,88.56,244.9,486,38.91,285.1,276.2,496,36.15,99.15,995.92,V58.61,038.9,507.0,V30.00,88.72,585.9,311,403.90,305.1,37.22,412,33.24,39.95,287.5,V45.81,410.71,276.1,424.0
0,1297,109,172335,1.0,40301,403.01,403.01;486;582.81;585.5;425.4;276.2;710.0;276....,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
14,1311,109,173633,1.0,40301,403.01,403.01;585.6;583.81;710.0;558.9;287.5;285.21;4...,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
28,1488,112,174105,1.0,53100,531.00,531.00;410.71;285.9;414.01;725;44.43;99.04;45.13,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
33,1493,113,109976,1.0,1915,191.5,191.5;331.4;530.81;15.9;23.9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36,1496,114,178393,1.0,41401,414.01,414.01;411.1;482.83;285.9;272.0;305.1;36.12;36...,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False

We check the number of occurences of each of the top-50 codes in our dataset

In [16]:
for code in combined_codes_top_50_codes:
    print(combined_codes[code].value_counts())

False    35631
True     20654
Name: 401.9, dtype: int64
False    43153
True     13132
Name: 38.93, dtype: int64
False    43174
True     13111
Name: 428.0, dtype: int64
False    43399
True     12886
Name: 427.31, dtype: int64
False    43877
True     12408
Name: 414.01, dtype: int64
False    46363
True      9922
Name: 96.04, dtype: int64
False    45895
True     10390
Name: 96.6, dtype: int64
False    47167
True      9118
Name: 584.9, dtype: int64
False    47341
True      8944
Name: 96.71, dtype: int64
False    47235
True      9050
Name: 250.00, dtype: int64
False    47597
True      8688
Name: 272.4, dtype: int64
False    48788
True      7497
Name: 518.81, dtype: int64
False    49087
True      7198
Name: 99.04, dtype: int64
False    49506
True      6779
Name: 39.61, dtype: int64
False    49731
True      6554
Name: 599.0, dtype: int64
False    49963
True      6322
Name: 530.81, dtype: int64
False    49925
True      6360
Name: 96.72, dtype: int64
False    50372
True      5913
Name: 272.0, dtype: int64
False    52592
True      3693
Name: 99.55, dtype: int64
False    52680
True      3605
Name: V05.3, dtype: int64
False    52729
True      3556
Name: V29.0, dtype: int64
False    50880
True      5405
Name: 285.9, dtype: int64
False    51148
True      5137
Name: 88.56, dtype: int64
False    51371
True      4914
Name: 244.9, dtype: int64
False    51447
True      4838
Name: 486, dtype: int64
False    51677
True      4608
Name: 38.91, dtype: int64
False    51734
True      4551
Name: 285.1, dtype: int64
False    51759
True      4526
Name: 276.2, dtype: int64
False    51854
True      4431
Name: 496, dtype: int64
False    51906
True      4379
Name: 36.15, dtype: int64
False    52054
True      4231
Name: 99.15, dtype: int64
False    52373
True      3912
Name: 995.92, dtype: int64
False    52480
True      3805
Name: V58.61, dtype: int64
False    52560
True      3725
Name: 038.9, dtype: int64
False    52605
True      3680
Name: 507.0, dtype: int64
False    54422
True      1863
Name: V30.00, dtype: int64
False    52932
True      3353
Name: 88.72, dtype: int64
False    52850
True      3435
Name: 585.9, dtype: int64
False    52854
True      3431
Name: 311, dtype: int64
False    52865
True      3420
Name: 403.90, dtype: int64
False    52927
True      3358
Name: 305.1, dtype: int64
False    53069
True      3216
Name: 37.22, dtype: int64
False    53007
True      3278
Name: 412, dtype: int64
False    53609
True      2676
Name: 33.24, dtype: int64
False    53078
True      3207
Name: 39.95, dtype: int64
False    53220
True      3065
Name: 287.5, dtype: int64
False    53229
True      3056
Name: V45.81, dtype: int64
False    53230
True      3055
Name: 410.71, dtype: int64
False    53246
True      3039
Name: 276.1, dtype: int64
False    53370
True      2915
Name: 424.0, dtype: int64

We created this utility function below to extract only the top-50 codes from our MIMIC-III dataset

In [17]:
def check_code_top_50(codes):
    top_code_count = 0
    for code in codes.split(';'):
        if code in combined_codes_top_50_codes:
            top_code_count = top_code_count + 1
            #print(code)
            
        
    return str(top_code_count)

We keep only the rows with top-50 codes

In [18]:
combined_codes['top_codes'] = combined_codes['full_code'].apply(lambda x: check_code_top_50(x))

We inspect the dataframe visually for errors

In [19]:
combined_codes.head()

,ROW_ID,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,tmp_code,full_code,401.9,38.93,428.0,427.31,414.01,96.04,96.6,584.9,96.71,250.00,272.4,518.81,99.04,39.61,599.0,530.81,96.72,272.0,99.55,V05.3,V29.0,285.9,88.56,244.9,486,38.91,285.1,276.2,496,36.15,99.15,995.92,V58.61,038.9,507.0,V30.00,88.72,585.9,311,403.90,305.1,37.22,412,33.24,39.95,287.5,V45.81,410.71,276.1,424.0,top_codes
0,1297,109,172335,1.0,40301,403.01,403.01;486;582.81;585.5;425.4;276.2;710.0;276....,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,3
14,1311,109,173633,1.0,40301,403.01,403.01;585.6;583.81;710.0;558.9;287.5;285.21;4...,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,4
28,1488,112,174105,1.0,53100,531.00,531.00;410.71;285.9;414.01;725;44.43;99.04;45.13,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,4
33,1493,113,109976,1.0,1915,191.5,191.5;331.4;530.81;15.9;23.9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1
36,1496,114,178393,1.0,41401,414.01,414.01;411.1;482.83;285.9;272.0;305.1;36.12;36...,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,6

We check the distribution of the entries

In [20]:
combined_codes['top_codes'].value_counts()

4     7053
3     7050
5     6290
2     5882
6     5603
7     4798
1     3888
8     3790
9     2851
0     2635
10    2040
11    1490
12    1023
13     700
14     449
15     275
16     174
17     120
18      69
19      41
20      28
21      15
22      11
24       4
23       3
26       1
25       1
27       1
Name: top_codes, dtype: int64

We remove entries where the codes do not contain any of the top-50 codes

In [21]:
combined_codes = combined_codes[combined_codes['top_codes']!='0']

We have a total of 53,650 admissions.

In [22]:
combined_codes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53650 entries, 0 to 651032
Data columns (total 58 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ROW_ID      53650 non-null  int64
 1   SUBJECT_ID  53650 non-null  int64
 2   HADM_ID     53650 non-null  int64
 3   SEQ_NUM     53650 non-null  float64
 4   ICD9_CODE   53650 non-null  object
 5   tmp_code    53650 non-null  object
 6   full_code   53650 non-null  object
 7   401.9       53650 non-null  bool
 8   38.93       53650 non-null  bool
 9   428.0       53650 non-null  bool
 10  427.31      53650 non-null  bool
 11  414.01      53650 non-null  bool
 12  96.04       53650 non-null  bool
 13  96.6        53650 non-null  bool
 14  584.9       53650 non-null  bool
 15  96.71       53650 non-null  bool
 16  250.00      53650 non-null  bool
 17  272.4       53650 non-null  bool
 18  518.81      53650 non-null  bool
 19  99.04       53650 non-null  bool
 20  39.61       53650 non-null  bool
 21  599.0       53650 non-null  bool
 22  530.81      53650 non-null  bool
 23  96.72       53650 non-null  bool
 24  272.0       53650 non-null  bool
 25  99.55       53650 non-null  bool
 26  V05.3       53650 non-null  bool
 27  V29.0       53650 non-null  bool
 28  285.9       53650 non-null  bool
 29  88.56       53650 non-null  bool
 30  244.9       53650 non-null  bool
 31  486         53650 non-null  bool
 32  38.91       53650 non-null  bool
 33  285.1       53650 non-null  bool
 34  276.2       53650 non-null  bool
 35  496         53650 non-null  bool
 36  36.15       53650 non-null  bool
 37  99.15       53650 non-null  bool
 38  995.92      53650 non-null  bool
 39  V58.61      53650 non-null  bool
 40  038.9       53650 non-null  bool
 41  507.0       53650 non-null  bool
 42  V30.00      53650 non-null  bool
 43  88.72       53650 non-null  bool
 44  585.9       53650 non-null  bool
 45  311         53650 non-null  bool
 46  403.90      53650 non-null  bool
 47  305.1       53650 non-null  bool
 48  37.22       53650 non-null  bool
 49  412         53650 non-null  bool
 50  33.24       53650 non-null  bool
 51  39.95       53650 non-null  bool
 52  287.5       53650 non-null  bool
 53  V45.81      53650 non-null  bool
 54  410.71      53650 non-null  bool
 55  276.1       53650 non-null  bool
 56  424.0       53650 non-null  bool
 57  top_codes   53650 non-null  object
dtypes: bool(50), float64(1), int64(3), object(4)
memory usage: 6.2+ MB

Next, we proceed to extract the discharge summaries from MIMIC-III dataset.

In [23]:
clinical_notes_df = pd.read_csv('NOTEEVENTS.csv')
clinical_notes_df = clinical_notes_df[clinical_notes_df['CATEGORY']=='Discharge summary']

/home/yaolong/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

We utilize the regexptokenizer from NLTK to preprocess our discharge summaries, removing stop-words, retaining only alpha-numerics.

In [24]:
from nltk.tokenize import RegexpTokenizer

#retain only alphanumeric
tokenizer = RegexpTokenizer(r'\w+')
clinical_notes_df['TEXT_prop']= clinical_notes_df['TEXT'].apply(lambda note:[t.lower() for t in tokenizer.tokenize(note) if not t.isnumeric()])

We create a column to check on the len of our discharge summaries.

In [25]:
clinical_notes_df['TEXT_prop_len']= clinical_notes_df['TEXT_prop'].apply(lambda x: len(x))

Now, we combine our clinical notes/discharge summaries with our medical code using a left join on the admission ID. We drop rows that do not contain any discharge summaries and proceed to check on our dataframe with a .head().

In [26]:
codes_with_notes = pd.merge(combined_codes, clinical_notes_df, on='HADM_ID', how='left')
codes_with_notes = codes_with_notes[codes_with_notes['TEXT_prop'].notna()]
codes_with_notes.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,tmp_code,full_code,401.9,38.93,428.0,427.31,414.01,96.04,96.6,584.9,96.71,250.00,272.4,518.81,99.04,39.61,599.0,530.81,96.72,272.0,99.55,V05.3,V29.0,285.9,88.56,244.9,486,38.91,285.1,276.2,496,36.15,99.15,995.92,V58.61,038.9,507.0,V30.00,88.72,585.9,311,403.90,305.1,37.22,412,33.24,39.95,287.5,V45.81,410.71,276.1,424.0,top_codes,ROW_ID_y,SUBJECT_ID_y,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,TEXT_prop,TEXT_prop_len
0,1297,109,172335,1.0,40301,403.01,403.01;486;582.81;585.5;425.4;276.2;710.0;276....,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,3,14797.0,109.0,2141-09-24,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2141-9-18**] ...,"[admission, date, discharge, date, date, of, b...",2614.0
1,1311,109,173633,1.0,40301,403.01,403.01;585.6;583.81;710.0;558.9;287.5;285.21;4...,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,4,14801.0,109.0,2141-12-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2141-12-8**] ...,"[admission, date, discharge, date, date, of, b...",1936.0
2,1488,112,174105,1.0,53100,531.00,531.00;410.71;285.9;414.01;725;44.43;99.04;45.13,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,4,54002.0,112.0,2194-06-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-6-13**] Dischar...,"[admission, date, discharge, date, service, hi...",969.0
3,1493,113,109976,1.0,1915,191.5,191.5;331.4;530.81;15.9;23.9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,1,10256.0,113.0,2140-12-27,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2140-12-12**] Discha...,"[admission, date, discharge, date, date, of, b...",539.0
4,1496,114,178393,1.0,41401,414.01,414.01;411.1;482.83;285.9;272.0;305.1;36.12;36...,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,6,10754.0,114.0,2146-09-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2146-8-29**] Dischar...,"[admission, date, discharge, date, date, of, b...",501.0

There are 57,000 entries in our preprocessed dataset.

In [27]:
codes_with_notes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57020 entries, 0 to 60369
Data columns (total 70 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ROW_ID_x       57020 non-null  int64
 1   SUBJECT_ID_x   57020 non-null  int64
 2   HADM_ID        57020 non-null  int64
 3   SEQ_NUM        57020 non-null  float64
 4   ICD9_CODE      57020 non-null  object
 5   tmp_code       57020 non-null  object
 6   full_code      57020 non-null  object
 7   401.9          57020 non-null  bool
 8   38.93          57020 non-null  bool
 9   428.0          57020 non-null  bool
 10  427.31         57020 non-null  bool
 11  414.01         57020 non-null  bool
 12  96.04          57020 non-null  bool
 13  96.6           57020 non-null  bool
 14  584.9          57020 non-null  bool
 15  96.71          57020 non-null  bool
 16  250.00         57020 non-null  bool
 17  272.4          57020 non-null  bool
 18  518.81         57020 non-null  bool
 19  99.04          57020 non-null  bool
 20  39.61          57020 non-null  bool
 21  599.0          57020 non-null  bool
 22  530.81         57020 non-null  bool
 23  96.72          57020 non-null  bool
 24  272.0          57020 non-null  bool
 25  99.55          57020 non-null  bool
 26  V05.3          57020 non-null  bool
 27  V29.0          57020 non-null  bool
 28  285.9          57020 non-null  bool
 29  88.56          57020 non-null  bool
 30  244.9          57020 non-null  bool
 31  486            57020 non-null  bool
 32  38.91          57020 non-null  bool
 33  285.1          57020 non-null  bool
 34  276.2          57020 non-null  bool
 35  496            57020 non-null  bool
 36  36.15          57020 non-null  bool
 37  99.15          57020 non-null  bool
 38  995.92         57020 non-null  bool
 39  V58.61         57020 non-null  bool
 40  038.9          57020 non-null  bool
 41  507.0          57020 non-null  bool
 42  V30.00         57020 non-null  bool
 43  88.72          57020 non-null  bool
 44  585.9          57020 non-null  bool
 45  311            57020 non-null  bool
 46  403.90         57020 non-null  bool
 47  305.1          57020 non-null  bool
 48  37.22          57020 non-null  bool
 49  412            57020 non-null  bool
 50  33.24          57020 non-null  bool
 51  39.95          57020 non-null  bool
 52  287.5          57020 non-null  bool
 53  V45.81         57020 non-null  bool
 54  410.71         57020 non-null  bool
 55  276.1          57020 non-null  bool
 56  424.0          57020 non-null  bool
 57  top_codes      57020 non-null  object
 58  ROW_ID_y       57020 non-null  float64
 59  SUBJECT_ID_y   57020 non-null  float64
 60  CHARTDATE      57020 non-null  object
 61  CHARTTIME      0 non-null      object
 62  STORETIME      0 non-null      object
 63  CATEGORY       57020 non-null  object
 64  DESCRIPTION    57020 non-null  object
 65  CGID           0 non-null      float64
 66  ISERROR        0 non-null      float64
 67  TEXT           57020 non-null  object
 68  TEXT_prop      57020 non-null  object
 69  TEXT_prop_len  57020 non-null  float64
dtypes: bool(50), float64(6), int64(3), object(11)
memory usage: 11.9+ MB

y is the labels and input to our BERT model. It is already in the correct format.

In [28]:
y = codes_with_notes.iloc[:,7:57]#.reset_index().drop(columns='index')

We print the labels, y to perform a visual check.

In [29]:
y

,401.9,38.93,428.0,427.31,414.01,96.04,96.6,584.9,96.71,250.00,272.4,518.81,99.04,39.61,599.0,530.81,96.72,272.0,99.55,V05.3,V29.0,285.9,88.56,244.9,486,38.91,285.1,276.2,496,36.15,99.15,995.92,V58.61,038.9,507.0,V30.00,88.72,585.9,311,403.90,305.1,37.22,412,33.24,39.95,287.5,V45.81,410.71,276.1,424.0
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60365,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
60366,True,False,True,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
60367,True,False,True,True,False,False,True,False,False,True,True,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False
60368,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
60369,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

We join the tokenized text from earlier to form X.

In [30]:
X = codes_with_notes['TEXT_prop'].apply(lambda x: ' '.join(x))#.reset_index().drop(columns='index')

We perform a visual check.

In [31]:
X

0        admission date discharge date date of birth se...
1        admission date discharge date date of birth se...
2        admission date discharge date service history ...
3        admission date discharge date date of birth se...
4        admission date discharge date date of birth se...
                               ...
60365    admission date discharge date date of birth se...
60366    admission date discharge date date of birth se...
60367    admission date discharge date date of birth se...
60368    admission date discharge date date of birth se...
60369    admission date discharge date date of birth se...
Name: TEXT_prop, Length: 57020, dtype: object

We perform a train-test split of 80-20 using the X/variables and y/labels.

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

We visually inspect the dataframe.

In [33]:
X_train.head()

8153     admission date discharge date date of birth se...
51131    admission date discharge date date of birth se...
55065    admission date discharge date date of birth se...
7368     admission date discharge date date of birth se...
29489    admission date discharge date service cardioth...
Name: TEXT_prop, dtype: object

We check the first 3 entries of the clinical text for errors.

In [34]:
X_train.iloc[0]

'admission date discharge date date of birth sex m service cardiac icu history of present illness mr known lastname is a year old gentleman with a complicated past medical history who was transferred from an outside hospital for persistent respiratory failure and pulmonary edema in addition he had staph aureus bacteremia and possible aortic valve endocarditis during his hospitalization he underwent cardiac catheterization twice with stent placement in multiple coronary arteries and was aggressively diuresed a transesopageal echocardiogram demonstrated no evidence of endocarditis he was continued on iv antibiotics for bacteremia of unclear source however his pulmonary edema failed to resolve and on his family decided that they would like to make the patient dnr to withdraw all supportive care except for comfort measures on the ventilator was changed to cpap and the patient was administered morphine sulfate intravenously and he passed away around p m on from respiratory failure consent for an autopsy was obtained first name4 namepattern1 last name namepattern1 m d md number dictated by last name namepattern1 medquist36 d t job job number'

Looks good!

In [35]:
X_train.iloc[1]

'admission date discharge date date of birth sex m service medicine allergies patient recorded as having no known allergies to drugs attending first name3 lf chief complaint loss of consciousness major surgical or invasive procedure none history of present illness initial history and physical is as per the hospital unit name resident year old man with history of etoh abuse and likely withdrawal seizures but on phenytoin in the past presented with a witnessed seizure the patient had a minute long tonic clonic seizure with loss of consciousness while walking down a street near his house denies any urine or stool incontinence woke up in the ambulance patient is not sure if he has had withdrawal seizures in the past he last drank a few days ago on presentation to the ed t hr sbp rr o2 sat ra serum etoh level was negative he received a banana bag lorazepam mg iv x on arrival to the icu the patient was oriented x with t now sbp in the 180s hr 80s ros the patient reports some nonproductive coughs since month only with worsening for the past few days also some diarrhea but then reports that he has had bowel movements every few days recently denies any fevers chills weight change nausea vomiting abdominal pain constipation melena hematochezia chest pain shortness of breath orthopnea pnd lower extremity edema urinary frequency urgency dysuria lightheadedness gait unsteadiness focal weakness vision changes headache rash or skin changes past medical history etoh abuse coccaine abuse hepatitis c genotype dm essential tremor htn peptic ulcers hx of traumatic brain injury social history he is originally from male first name un and has been in the united states for years he worked as a punch press operator however he has been on disability since he is single living with his brother name ni smokes half a pack of cigarettes a day for many decades stopped using heroin years ago last cocaine was months ago reports heavy drinking in the past but a small drink of vodka every few days now family history his family history is noted for a mother who had diabetes his father also had shaking which he attributes to excessive alcohol use physical exam vitals t bp hr rr ra gen nad heent eomi perrl sclera anicteric abrasion l cheeck w some blood in mouth resolved after rinsing no active bleed noted neck no jvd no cervical lymphadenopathy cor rrr normal s1 s2 radial pulses pulm lungs ctab no w r r abd soft nt nd bs no hsm no masses ext no c c e no palpable cords neuro alert oriented to hospital and year initially thought it wa month only but corrected himself and said month only cn ii xii grossly intact motor sensation non focal skin no jaundice cyanosis or gross dermatitis no ecchymoses pertinent results 00pm blood wbc rbc hgb hct mcv mch mchc rdw 00pm blood neuts lymphs monos eos baso 00pm blood pt ptt inr pt 00pm blood glucose urean creat na k cl hco3 angap 00pm blood alt ast alkphos totbili 00pm blood albumin calcium phos mg 00pm blood asa neg ethanol neg acetmnp neg bnzodzp neg barbitr neg tricycl neg chest x ray prelim no acute cardiopulmonary abnormalities ct head there is no intracranial hemorrhage mass effect or shift of normally midline structures the patient is status post left craniectomy an area of hypodensity involving the left posterior frontal lobe is chronic in appearance the visualized paranasal sinuses and mastoid air cells are well aerated there is no hydrocephalus impression no acute intracranial process post surgical changes of the left craniectomy please correlate with hospital medical and surgical history brief hospital course assessment year old man with history of etoh abuse withdrawal seizures hepatitis c presented with witnessed generalized tonic clonic seizure likely a withdrawal seizure given that his last alcoholic drink was a few days ago summary by problem alcohol withdrawal seizures the timing of the patient s seizure was consistent with alcohol withdrawal pt reports that over 10yrs ago he had head injury and was on dilantin but has not been on any anti epleptics x10 yrs and has had no seizures until this episode etoh negative on admission he was monitored in the intensive care unit overnight he was also treated with thiamine folate and a mvi he was then called out to the floor where he was agitated tremulous and hallucinating he was placed on standing diazepam placed on seizure and withdrawal precautions and placed on telemetry he also required prn diazepam his mental status improved and he was weaned off of valium social work was consulted pt expressed a desire to stop drinking pt s plan is to return to church and to stop drinking on his own pt does not wish to attend aa or any other treatment programs hypertension the patient initially has an sbp 180s he was placed on lisinopril mg daily and his sbp came down into the 110s he was given a prescription for lisinopril and instructed to follow up with his pcp seasonal allergies the pateint complained of rhinitis sinus congestion and itchy eyes during his hospitaliaztion he was started on fexofenadine which helped his symptoms he was given a prescription at discharge hepatitis c was seen by dr last name stitle in clinic a few years back but lost to follow up if pt is compliant and follows up with pcp then he should be referred back to hepatology essential tremor with resting tremor in both hands saw neurologist several years ago unchanged per patient leukopenia thrombocytopenia noted on admission likely alcoholism platelet counts improved over the hospitalization without intervention dispo pt first name9 namepattern2 last name un ein dtable condition he was instructed to follow up with his pcp medications on admission none discharge medications multivitamin tablet sig one tablet po daily daily fexofenadine mg tablet sig one tablet po bid times a day disp tablet s refills lisinopril mg tablet sig one tablet po once a day disp tablet s refills discharge disposition home discharge diagnosis etoh withdrawal seizure discharge condition good discharge instructions take lisinopril for high blood pressure take fexofenadine for seasonal allergies follow up with at the hospital community health center in weeks regrarding this hospitalization and to establish routine care they should follow up on you high blood pressure and your liver care they should call you monday with an appointment if you do not hear from them by midweek please call telephone fax x1255 to establish an appointment do not drink alcohol return to ed if you have another seizure worsening tremor nausea vomiting or any other worrisome signs symptoms followup instructions follow up with at the hospital community health center in weeks regrarding this hospitalization and to establish routine care they should call you monday with an appointment if you do not hear from them by midweek please call telephone fax x1255 to establish an appointment first name7 namepattern1 initial namepattern1 name8 md md md number completed by'

Success!

In [36]:
X_train.iloc[2]

'admission date discharge date date of birth sex m service neurology allergies diphenhydramine bee pollen phenytoin attending first name3 lf chief complaint seizure major surgical or invasive procedure intubated extubated history of present illness mr known lastname is intubated and sedated history obtained from transfer records review of omr and speaking with family mr known lastname is a year old man with pmh notable for right parietal lesion initially thought to be stroke vs low grade glioma has been stable on multiple repeat mris with the most recent being followed by dr last name stitle in hospital clinic and seizures unclear if post traumatic s p motorcycle accident or if seizure precipitated the accident he was previously on aeds but this was recently stopped who was transferred from osh with iph and seizure per transfer report he was having headaches beginning last night this morning at work around am his co workers thought he had a deer in headlights look and was confused he was also reportedly complaining of left arm numbness he was taken to lgh where in triage he had a gtc lasting minutes and breaking with mg ativan he received dilantin gram he was intubated for airway protection he underwent nchct which showed right temporoparietal hypodensity likely edema with hemorrhagic component he was then transferred to hospital1 for further care regarding his seizure history his only witnessed seizure was after a motorcycle accident in it is possible a seizure was the inciting reason for the accident though this is not confirmed he has been on aeds in the past some of which were stopped due to side effects keppra resulted in short temperedness topiramate in diarrhea and weight loss and phenytoin caused fatigue he was most recently on zonisamide but this had been stopped earlier this month as he had remained seizure free ros unable to obtain from patient per family he has been increasingly fatigued recently also possible weight loss as he has dropped pant sizes unsure over how much time this occurred past medical history right parietal lesion motorcycle accident seizure hypertension dyslipidemia coronary artery disease social history unable to obtain from patient per omr he is married and lives with his wife name ni works as a diesel mechanic for the local fire department he was a heavy smoker for years but quit ten years ago family history unable to obtain from patient per omr he had ten siblings one died in a motorcycle accident and one died at age with heart problems the other siblings are healthy his mother died at and his father died at physical exam physical exam vitals p bp intubated r o2 vent general intubated sedated heent et tube in place neck supple pulmonary anterior lung fields cta b l cardiac rrr s1s2 abdomen soft nondistended bs extremities warm well perfused neurologic eyes open to voice not following any commands pupils in midline mm and sluggishly reactive to light dolls corneals cough gag moves all extremities spontaneously and purposefully was moving all extremities spontaneously so difficult to assess any reaction to noxious stimulation there was no clear grimmace noted upper extremity reflexes and symmetric unable to elicit patellar or achilles reflexes extensor plantar response b l on discharge awake alert interactive language intact cn intact motor normal tone full strength throughout sensory pin jps intact in toes gait able to tandem with mild difficulty negative romberg can walk on heels and walk on toes pertinent results admission labs 45pm alt sgpt ast sgot alk phos tot bili 45pm albumin 45pm phenytoin 48pm type art po2 pco2 ph total co2 base xs 20pm freeca 05pm lipase 05pm asa neg ethanol neg acetmnphn neg bnzodzpn neg barbitrt neg tricyclic neg 05pm urine blood neg nitrite neg protein tr glucose neg ketone tr bilirubin neg urobilngn neg ph leuk neg discharge labs 10am blood wbc rbc hgb hct mcv mch mchc rdw plt ct 10am blood glucose urean creat na k cl hco3 angap 10am blood calcium phos mg ct from osh shows edema and question of small amount of calcification blood in the area of the left parietal lesion brief hospital course after he was admitted the patient already intubated and was taken to the neuro icu there he had been loaded on dilantin he had been taken off of his zonisamide as it was unclear if he had a seizure and he had been doing well since his previous motor vehicle accident in the icu he was hooked up to ltm eeg and he did not have any further seizures his ct head from the osh showed the area of edema around his known lesion with a question of small area of blood he conitnued to do well in the icu and the next day was extubated he was transferred to the floor on he conitnued to do well he had no more seizures his exam returned to baseline he was restarted on zonegran 50mg hospital1 the plan was to keep him on pht for about days then slowly taper it off leaving him on zonegran we discussed the plan with dr last name stitle as well he was discharged home with plan for follow up in the hospital clinic medications on admission amlodipine atorvastatin mg mg daily carvedilol mg daily coenzyme q10 cyanocobalamin mcg daily discharge medications zonisamide mg capsule sig two capsule po bid times a day disp capsule s refills amlodipine mg tablet sig two tablet po daily daily atorvastatin mg tablet sig one tablet po daily daily cyanocobalamin vitamin b mcg tablet sig one tablet po daily daily phenytoin sodium extended mg capsule sig one capsule po three times a day take tid for days then hospital1 for days then once a day for days then stop disp capsule s refills carvedilol mg tablet sig one tablet po twice a day discharge disposition home discharge diagnosis seizure secondary to brain lesion low grade glioma vs stroke discharge condition mental status clear and coherent level of consciousness alert and interactive activity status ambulatory independent cranial nerves intact normal motor sensory gait normal able to tandem with mild difficulty discharge instructions you were admitted with an episode of confusion which evolved into a seizure we think this occured because of the lesion in your brain which can cause seizures you were recently taken off your seizure medication zonegran to see if you no longer needed it as it was not clear if you having seizures it appears that you now need seizure medication and we have restarted the zonegran while you were here we started another seiuzre medicaitn initially phenytoin while the zonegran gets to steady state we want you to stay on this and can titrate after a week we will provide you with a schedule your medications were changed as follows restarted zonegran 50mg hospital1 started phenytoin dilantin 300mg daily with plan to taper after days followup instructions dr last name stitle will call you with a follow up appointment if you don t hear from him be sure to call his office at telephone fax also call your pcp name9 pre name9 pre name initial pre telephone fax for a follow up appopintment first name8 namepattern2 last name namepattern1 md md number'

There are 45,616 rows in the training dataset.

In [37]:
pd.DataFrame(X_train).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45616 entries, 8153 to 59758
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TEXT_prop  45616 non-null  object
dtypes: object(1)
memory usage: 712.8+ KB

There are 11,404 rows in the validation dataset.

In [38]:
pd.DataFrame(X_val).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11404 entries, 28602 to 57644
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TEXT_prop  11404 non-null  object
dtypes: object(1)
memory usage: 178.2+ KB

There are two utility functions namely process_X and process_y used to generate and split the inputs to the inputs of our 5 different BERT models. Each BERT model is sort of in-charge of 500-word sections.

In [39]:
INDEX_SPECIFIED = 4 

INDEX_L = int(45616*INDEX_SPECIFIED)
INDEX_R = int(45616*(INDEX_SPECIFIED+1))

INDEX_L_VAL = int(11404*INDEX_SPECIFIED)
INDEX_R_VAL = int(11404*(INDEX_SPECIFIED+1))

SAVE_MODEL_NAME = 'model_fifth500only1epoch.bert'

def process_X(X_tmp, is_train=True):
    X_tmp = pd.DataFrame(X_tmp)
    X_tmp['bert_0_500'] = X_tmp['TEXT_prop'].apply(lambda x: ' '.join(x.split(' ')[0:500]))
    X_tmp['bert_500_1000'] = X_tmp['TEXT_prop'].apply(lambda x: ' '.join(x.split(' ')[500:1000]))
    X_tmp['bert_1000_1500'] = X_tmp['TEXT_prop'].apply(lambda x: ' '.join(x.split(' ')[1000:1500]))
    X_tmp['bert_1500_2000'] = X_tmp['TEXT_prop'].apply(lambda x: ' '.join(x.split(' ')[1500:2000]))
    X_tmp['bert_2000_2500'] = X_tmp['TEXT_prop'].apply(lambda x: ' '.join(x.split(' ')[2000:2500]))
    X_tmp['len'] = X_tmp['TEXT_prop'].apply(lambda x: len(x.split(' ')))

    X_train_tmp = X_tmp.drop(columns='TEXT_prop').copy()
    X_train_tmp = X_train_tmp.melt(id_vars=['len'], var_name='text', value_name='TEXT', ignore_index=False)
    X_train_unpivoted = X_train_tmp
    X_train_unpivoted.drop(columns=['len','text'],inplace=True)
    if is_train:
        return X_train_unpivoted.iloc[INDEX_L:INDEX_R,:]
    else:
        return X_train_unpivoted.iloc[INDEX_L_VAL:INDEX_R_VAL,:]

X_train = process_X(X_train)
X_val = process_X(X_val, is_train=False)

#from numpy import savetxt

#X_train.to_csv('X_train_0_500.csv')
#X_val.to_csv('X_val_0_500.csv')

X_train.head()

      TEXT
8153
51131
55065
7368
29489

Just to be sure there are still 45,616 rows in the training dataset.

In [41]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45616 entries, 8153 to 59758
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TEXT    45616 non-null  object
dtypes: object(1)
memory usage: 712.8+ KB

We print the target labels to visually inspect for errors.

In [56]:
y_train

,401.9,38.93,428.0,427.31,414.01,96.04,96.6,584.9,96.71,250.00,272.4,518.81,99.04,39.61,599.0,530.81,96.72,272.0,99.55,V05.3,V29.0,285.9,88.56,244.9,486,38.91,285.1,276.2,496,36.15,99.15,995.92,V58.61,038.9,507.0,V30.00,88.72,585.9,311,403.90,305.1,37.22,412,33.24,39.95,287.5,V45.81,410.71,276.1,424.0
8153,False,False,True,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False
51131,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
55065,True,False,False,False,True,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7368,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29489,True,False,False,False,True,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57609,True,False,False,True,True,False,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
40947,True,False,True,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False
936,True,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17109,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
59758,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

This is the utility function used to generate input labels for our 5 different BERT models. All the 5 BERT models are fed with the same target labels.

In [57]:
def process_y(y_tmp, is_train=True):
    if is_train==True:
        return pd.concat([y_tmp]*5, axis=0, ignore_index=True).iloc[INDEX_L:INDEX_R,:]
    else:
        return pd.concat([y_tmp]*5, axis=0, ignore_index=True).iloc[INDEX_L_VAL:INDEX_R_VAL,:]
y_train = process_y(y_train)
y_val = process_y(y_val, is_train=False)

#y_train.to_csv('y_train_0_500.csv')
#y_val.to_csv('y_val_0_500.csv')

We print the first entry and chcek for errors.

In [58]:
y_train.iloc[0,:]

401.9     False
38.93     False
428.0      True
427.31    False
414.01     True
96.04     False
96.6      False
584.9      True
96.71     False
250.00    False
272.4     False
518.81     True
99.04     False
39.61     False
599.0     False
530.81    False
96.72     False
272.0     False
99.55     False
V05.3     False
V29.0     False
285.9     False
88.56     False
244.9     False
486       False
38.91     False
285.1     False
276.2     False
496        True
36.15     False
99.15     False
995.92    False
V58.61    False
038.9     False
507.0     False
V30.00    False
88.72     False
585.9     False
311       False
403.90    False
305.1     False
37.22      True
412       False
33.24     False
39.95      True
287.5     False
V45.81    False
410.71     True
276.1     False
424.0     False
Name: 182464, dtype: bool

There are 45,616 rows in the training dataset.

In [59]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45616 entries, 182464 to 228079
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   401.9   45616 non-null  bool
 1   38.93   45616 non-null  bool
 2   428.0   45616 non-null  bool
 3   427.31  45616 non-null  bool
 4   414.01  45616 non-null  bool
 5   96.04   45616 non-null  bool
 6   96.6    45616 non-null  bool
 7   584.9   45616 non-null  bool
 8   96.71   45616 non-null  bool
 9   250.00  45616 non-null  bool
 10  272.4   45616 non-null  bool
 11  518.81  45616 non-null  bool
 12  99.04   45616 non-null  bool
 13  39.61   45616 non-null  bool
 14  599.0   45616 non-null  bool
 15  530.81  45616 non-null  bool
 16  96.72   45616 non-null  bool
 17  272.0   45616 non-null  bool
 18  99.55   45616 non-null  bool
 19  V05.3   45616 non-null  bool
 20  V29.0   45616 non-null  bool
 21  285.9   45616 non-null  bool
 22  88.56   45616 non-null  bool
 23  244.9   45616 non-null  bool
 24  486     45616 non-null  bool
 25  38.91   45616 non-null  bool
 26  285.1   45616 non-null  bool
 27  276.2   45616 non-null  bool
 28  496     45616 non-null  bool
 29  36.15   45616 non-null  bool
 30  99.15   45616 non-null  bool
 31  995.92  45616 non-null  bool
 32  V58.61  45616 non-null  bool
 33  038.9   45616 non-null  bool
 34  507.0   45616 non-null  bool
 35  V30.00  45616 non-null  bool
 36  88.72   45616 non-null  bool
 37  585.9   45616 non-null  bool
 38  311     45616 non-null  bool
 39  403.90  45616 non-null  bool
 40  305.1   45616 non-null  bool
 41  37.22   45616 non-null  bool
 42  412     45616 non-null  bool
 43  33.24   45616 non-null  bool
 44  39.95   45616 non-null  bool
 45  287.5   45616 non-null  bool
 46  V45.81  45616 non-null  bool
 47  410.71  45616 non-null  bool
 48  276.1   45616 non-null  bool
 49  424.0   45616 non-null  bool
dtypes: bool(50)
memory usage: 2.2 MB

There are 11,404 rows in the validation dataset.

In [60]:
y_val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11404 entries, 45616 to 57019
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   401.9   11404 non-null  bool
 1   38.93   11404 non-null  bool
 2   428.0   11404 non-null  bool
 3   427.31  11404 non-null  bool
 4   414.01  11404 non-null  bool
 5   96.04   11404 non-null  bool
 6   96.6    11404 non-null  bool
 7   584.9   11404 non-null  bool
 8   96.71   11404 non-null  bool
 9   250.00  11404 non-null  bool
 10  272.4   11404 non-null  bool
 11  518.81  11404 non-null  bool
 12  99.04   11404 non-null  bool
 13  39.61   11404 non-null  bool
 14  599.0   11404 non-null  bool
 15  530.81  11404 non-null  bool
 16  96.72   11404 non-null  bool
 17  272.0   11404 non-null  bool
 18  99.55   11404 non-null  bool
 19  V05.3   11404 non-null  bool
 20  V29.0   11404 non-null  bool
 21  285.9   11404 non-null  bool
 22  88.56   11404 non-null  bool
 23  244.9   11404 non-null  bool
 24  486     11404 non-null  bool
 25  38.91   11404 non-null  bool
 26  285.1   11404 non-null  bool
 27  276.2   11404 non-null  bool
 28  496     11404 non-null  bool
 29  36.15   11404 non-null  bool
 30  99.15   11404 non-null  bool
 31  995.92  11404 non-null  bool
 32  V58.61  11404 non-null  bool
 33  038.9   11404 non-null  bool
 34  507.0   11404 non-null  bool
 35  V30.00  11404 non-null  bool
 36  88.72   11404 non-null  bool
 37  585.9   11404 non-null  bool
 38  311     11404 non-null  bool
 39  403.90  11404 non-null  bool
 40  305.1   11404 non-null  bool
 41  37.22   11404 non-null  bool
 42  412     11404 non-null  bool
 43  33.24   11404 non-null  bool
 44  39.95   11404 non-null  bool
 45  287.5   11404 non-null  bool
 46  V45.81  11404 non-null  bool
 47  410.71  11404 non-null  bool
 48  276.1   11404 non-null  bool
 49  424.0   11404 non-null  bool
dtypes: bool(50)
memory usage: 557.0 KB

# Done!

Note you'll need to re-run and generate the inputs for each of the BERT model changing the INDEX_SPECIFIED at different runs. It is probably a good idea to also to_csv() the x and y labels and differentiate them accordingly.